<div class="left-sidebar">
	<mat-toolbar color="second" class="top-toolbar">
	      <mat-toolbar-row color="second">
	            <span align="right">
	            <img src="./assets/declinicius.gif" routerLink="temario" width="15%" height="15%"  />
	            </span>
	      </mat-toolbar-row>
	</mat-toolbar>    
 	<mat-toolbar [color]="enlace.color" class="top-toolbar" *ngFor="let enlace of enlaces" >
       <a  *ngIf="enlace.src" class="enlaceMenu" href="{{enlace.src}}" >
       		{{enlace.nombre}}
       </a>
       <a  *ngIf="enlace.ruta" class="enlaceMenu" routerLink="{{enlace.ruta}}" >
       		&nbsp;{{enlace.nombre}}&nbsp;<mat-icon>{{enlace.icon}}</mat-icon>
       </a>
     </mat-toolbar >
 	
</div>
 