.left-sidebar{
 	background-color: white;
	scroll-behavior: hidden;
  scroll:unset;
  overflow-y:hidden;
  overflow:hidden;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.top-toolbar{
	width:100%;
	overflow-y:hidden;
}

ul {
    list-style: none   ;
 }
a{
  color:white;
}
mat-icon{
  float:right;
}
