.angularImage {
	//background: transparent url('@ssets/AngularMeetUp.jpg') no-repeat scroll center top;
    background-color: #1976d2;
    background: linear-gradient(145deg,#0d47a1,#42a5f5);
    color: #fff;
    background-size: contain;
    min-height:500px; 
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	position: absolute;
  	width: 100%;
  	min-height: 480px;
  	height: 80vh;
  	mediaax-height: 650px;
  	box-sizing: border-box;
  	padding: 48px 48px 32px 48px;
  	overflow: hidden;
  	transform: skewY(3deg);
  	position:relative !important;
  	transform-origin: 100%;
}
@media (max-width: 480px) {
    max-height: 486px;
    padding-top: 0px;
    transform: none;
  }

mat-button{
	color:white;
	font-color:black;
	border-radius:4px;
	font-size:50px;
}
.mmetUp{
	font-size:50px;
}
