    <mat-toolbar  color="second">
        {{titulo.value }} 
      <h3 *ngIf="entrada.clicks>1">&nbsp;- Has clicado <b>{{entrada.clicks}}</b> veces!!!</h3> 
    </mat-toolbar>
    <mat-card>
      <form [formGroup]="form">
          <mat-form-field hintLabel="Máx. 20 caracteres">
            <input matInput #titulo formControlName="titulo" placeholder="Título" >
            <mat-hint align="end">{{titulo.value.length || 0}}/20</mat-hint>
            <mat-error *ngIf="">El campo no puede ser superior a 20 carácteres</mat-error>
          </mat-form-field>
          <mat-form-field hintLabel="Máx. 50 caracteres">
            <input matInput #subtitulo formControlName="subtitulo"  maxlength="50" placeholder="Subtítulo">
            <mat-hint align="end">{{subtitulo.value.length || 0}}/50</mat-hint>
            <mat-error>El campo no puede ser superior a 50 carácteres</mat-error>
          </mat-form-field>
            <mat-form-field hintLabel="Máx. 500 caracteres">
            <textarea matInput #cuerpo formControlName="cuerpo" rows="8" maxlength="500" placeholder="Cuerpo"></textarea>
            <mat-hint align="end">{{cuerpo.value.length || 0}}/500</mat-hint>
            <mat-error>El campo no puede ser superior a 500 carácteres</mat-error>
          </mat-form-field>
      </form>
    </mat-card>
    <br/>
    <mat-toolbar color="second" class="bottom">
      <mat-dialog-actions>
        <button mat-button type="button" (click)="guardarEntrada(form)">Guardar</button>
        <button mat-button type="button" mat-dialog-close>Cancelar</button>
     </mat-dialog-actions>
    </mat-toolbar>
