.content404{
	font:"Calibri";
	width:40%;
	font-size:60px;
	float:right;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	margin-top:150px;
  	mediaax-height: 650px;
  	box-sizing: border-box;
  	padding: 48px 48px 32px 48px;
  	background: linear-gradient(235deg,red,white);
  	padding: 48px 48px 32px 48px;
  	overflow: hidden;
  	transform: skewY(10deg);
  	position:relative !important;
  	transform-origin: 100%;
}

.img404{
	width:100vh;
	height:70vh;
	background-image: url("/assets/fail_404.png");
	font-size:20px;
	float:left;
	padding:10px;
}

mat-card{
	margin:10px;
	background-color:grey;
	min-height:60%;
	box-shadow:0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.errorContent{
	padding:10px;
	height:80vh;
}