<mat-card>
  <mat-list class="grid grid-pad" [@tutorialItems]="tutorial.length">
  	<div *ngFor="let entrada of tutorial" class="col-1-4">
      <div *ngIf="entrada">
         <span class="temarioClicks" *ngIf="entrada.clicks"> 
            {{entrada.clicks}}!
         </span>
         
        <div class="module" >
          <div class="paddingTitle">{{entrada.title}}&nbsp;<img src="assets/angular.svg" width="20" height="20"></div>
          <div>
            <button mat-button (click)="openEntradaDialog(entrada)" class="button view">Editar</button>
            <button mat-button routerLink="./detalle/{{entrada.id}}">Ir</button>
          </div>
        </div>
      </div>
    </div>
  </mat-list>
  <mat-toolbar *ngIf="clicks>=1" [@entrarSalir]="clicks">
        Total clicks: {{clicks}}  
  </mat-toolbar>  
</mat-card>