tutorial div{
	border-radius: 5px;
    padding: 20px; 
    padding:4px;
}
.grid {
  margin: 0;
}
.button{
	barckground-color:white;
}
.moduleList{
	height:250px;
	margin:100px;
	padding:5px;
}
mat-list{
	height:480px;
}
mat-list-item {
	height:120px;
	margin-left:10px;
	align:center;
}
mat-button{
	color:white;
	barckground-color:white;
}
.temarioClicks{
	float:left;
	font:15px;
	color:white;
	background-color:red;
	padding:4px;
	margin:3px;
	border-radius:5px;
}
.paddingTitle{
	padding:10px;
}
mat-card{
	margin:15px;
}