<div #mainContent class="main-container">
	<mat-card >
		<div class="navigation" *ngIf='entrada'>
					<button class="toLeft"  mat-raised-button routerLink="../{{entrada.id - 1}}" *ngIf='entrada.id > 1' (click)="callLink(entrada.id-1)">Retroceder</button>
					<button class="toRight" mat-raised-button routerLink="../{{entrada.id + 1}}" *ngIf='entrada.id < 7' (click)="callLink(entrada.id+1)">Avanzar</button>
		</div>	
		<div #content *ngIf="entrada" [@aparecer]="entrada">
			   <div class="fullContent" >
				   	<mat-expansion-panel *ngIf="entrada.subtitle" >
					  <mat-expansion-panel-header>
					      <div class="marginMe">{{entrada.subtitle}}</div>
					  </mat-expansion-panel-header>

					  <ng-template matExpansionPanelContent>
					    <h4 >{{entrada.body}}</h4>
					  </ng-template>
					</mat-expansion-panel>
				</div>
			<section *ngIf='entrada.content'>
				<div *ngIf="entrada.content.views.length>0" class="grid" >
					<div class="toolbar" >
						<div *ngIf="entrada.content.views" [@categoriasLentas]="entrada"> 
							<div *ngFor="let contenido of entrada.content.views"  class="col-1-{{entrada.content.views.length}} moduleEntrada" >
								<vista [miVista]="contenido"></vista>
							</div>
					 	</div>
					</div>
				</div>
			<div class="centerThings">
				<div *ngIf="entrada.mainImage"><img class="mainImage" src="{{entrada.mainImage}}" /></div>
			</div>
				
			</section>
		</div>
	</mat-card>
</div>