//entrada
img.mainImage{
  width:100%;
  padding:10px;
  padding-right:25px;
  box-sizing:border-box;
  border-radius:5px;
}

.moduleEntrada {
  padding: 20px;
  margin-top:10px;
  text-align: center;
  height:100%;
  font-size:15px;
  border-radius: 5px;
  padding:6px;
}

.moduleEntrada:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
}
h3{
  font-size:20px;
  text-align:center;
  font:Calibri;
}

h4{
  font-size:15px;
  text-align:left;
  font:Calibri;
}
.toLeft{
  float:left;
}
.toRight{
  float:right;
}
.body{
  font-size:15px;
  text-align:left;
  font:Calibri; 
  color:black;
}
//general
mat-divider{
  width:50%;
}
.main-container {
    float: left;
    position: relative;
    padding-left: 2%vh;
    padding-right: 2%vh;
    width:100%vh;
    min-height:95%vh;
    width:100%;
    box-sizing: border-box;
}
mat-card{
  min-height:79vh;
  width:90%vh;
  padding-left: 2%vh;
  padding-right: 2%vh;
  background: linear-gradient(to bottom, rgba(0,0,0,0), #d8d8d8);
  //background-image: url('assets/examples/background.jpg');
  box-sizing: border-box;
  overflow-x:hidden;
  box-shadow:0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.navigation{
  margin:10px;
}
.navigationLeft{
  position:absolute;
  float:left;
}
.navigationRight{
  position:absolute;
  float:right;
}

vista{
  min-height:15vh;
}

.toolbar{
  background-color:white;
  width:95%;
  margin:25px;
  min-height:30vh;
}
mat-expansion-panel{
    display:table;
    margin: 0 auto;
    width:80%vh;
    text-align:center;
}
.fullContent{
    width:90%;
    margin-left:100px;
    margin-right:100px;
}
.marginMe{
  margin:15px;
  padding:15px;
}
mat-button{
  color:white;
  z-index:3;
}