<div class="toolbar-content">
 	<mat-toolbar color="{{color}}">
 		<mat-toolbar-row color="second">
	      	<button mat-icon-button (mouseenter)="openSideNav()">
    			<mat-icon svgIcon="home">Menu</mat-icon>
  			</button>	
  			<span class="centerThings" >{{titulo}}</span>
		</mat-toolbar-row>
	</mat-toolbar>  	
</div>

