<!-- Invocamos al componente demo-header y le pasamos el valor de tituloAplicacion a la propiedad name de dicho modulo -->
<demo-header name="{{tituloAplicacion}}" ></demo-header>

<!-- Usamos @angular/material para definir zonas de trabajo -->
<!-- mat-sidenav-container será el area donde podrá aparecer el bloque sidenav -->
<!-- usamos el evento (mouseenter) para cerrar la barra lateral leftSideNav con su función close() -->
<mat-sidenav-container opened="false">  
  <div (mouseenter)="leftSideNav.close()" >
  	<div [@routeState]="name" >
    	<router-outlet #o="outlet"></router-outlet>
    </div>
  </div>  
</mat-sidenav-container>
<!-- definimos la barra lateral #leftSideNav -->
<mat-sidenav #leftSideNav class="sidenav-menu">
   <demo-sidenav-left></demo-sidenav-left>
</mat-sidenav>  
<demo-bottom></demo-bottom>
