/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

	/* Temario's private SCSS styles */
[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center; margin-bottom: 0;
}
h4 {
  position: relative;
}

@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}
m primary{
  background-color:#2af0e6;
}
.mat-primary{
  background:#fff;
  margin:2px;
}

.mat-second{
  background:#000;
  color:#fff;
  margin:2px;
  box-shadow:0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  box-sizing:border-box;
  width:98%vh;
}

.mat-cli{
  background : #50d8ff;
  color:white;
  margin:2px;
}
.mat-coral{
  background:coral;
  color:white;
  margin:2px;
  box-sizing:border-box;
  width:98%vh;
  box-shadow:0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.mat-red{
  background:red;
  color:white;
  margin:2px;
  box-sizing:border-box;
  width:98%vh;
}

mat-black{
  background:#bacdf1d;
  color:white;
  margin:2px;
  box-sizing:border-box;
  width:98%vh;
  box-shadow:0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.mat-third{
  background:#green;
  margin:2px; 
  box-shadow:0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.example-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.top-toolbar{
  width:95%;
  overflow-y:hidden;
}

ul {
    list-style: none   ;
}

.bottom{
  position:bottom;
  max-height:10%;
  font-size:10px;
}

.module {
  padding: 15px;
  margin:10px;
  text-align: center;
  color: #eee;
  max-height: 150px;
  min-width: 120px;
  background: linear-gradient(to left, #2042a2, #81a220);
  border-radius: 6px;
}
.module:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #c8d6d9;
}
.grid-pad {
  padding: 10px 0;
  background-color:#c8d6d9;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
.centerThings{
  width:98%;
  width:100% !important;
  text-align: center ;
  padding:4%;
}
mat-sidenav-container{
  min-height:95vh;
}
.col-1-3 {
  width: 33%;
}
.col-1-4 {
  width: 25%;
}
.col-1-5 {
  width:20%;
}